@media screen{
	body{
		font-family: 'Alice', serif;
		color:#644444;
		
	}

	ul{
		margin:0;
	}

	/*setting the navigation*/
	nav img{
		float:left;
		display:inline-block;
		width:190px;
		height:68px;
		padding:6px;
		margin-left: 150px;
		margin-right: 300px;
	}

	nav ul li{
		display:inline;
		float:left;
		list-style-type:none;
		font-size:30px;
	}

	nav{
		width:100%;
		height:80px;
		background-color:#073835;
		/*****************background-image:url(images/pattern.png);
		background-repeat: repeat-x;*/
	}
	nav a,a:link{
		display:inline-block;
		color:#f39a9a; 
		text-decoration: none;
		transition: all 0.5s linear 0;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:60px;
		padding-right:60px;
		text-align:center;
	}

	nav a:hover,nav a:focus{
		background-color: #042422;
		transition: all 0.5s linear 0;
	}

	/*setting the heading*/
	h1{
		text-align: center;
	}

	/*setting images size and position*/
	#gardener1{
		
		position:absolute;
		left:6%;
		top:140%;
		width:330px;
	}

	#gardener2{
		float :left;
		position:absolute;
		left:78%;
		top:135%;
		width:350px;
	}
	#queen{
		position:absolute;
		top:203%;
	}

	#look{
		position:absolute;
		top:330%;
		left:2%;
		width:1800px;
	}

}